
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Apotek Bold', monospace;
    font-weight: 600;
    font-size: 16px;
    outline: none;
	color: white;
}

body{
	background-color:  ghostwhite
}

li{
	font-size: 14px;
	margin-left: 20px;
}
header{
	background-color: hsl(183, 100%, 15%);
	color: white;
	height: 5vh;
    color: inherit;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.contatos{
	display: flex;
	list-style: none;
}

footer{
	background-color: hsl(183, 100%, 15%);
	color: white;
	height: 5vh;
    padding-top: 18px;
	
}

.logo{
	color: white;
}
.menu{
	color: white;
	display: flex;
	margin-top: 20px;
	margin-left: 50px;
	list-style: none;
	
}

.conta{
	color: white;
	display: flex;
	margin-top: 20px;
	margin-left: 50px;
	list-style: none;
}

.menu a {
	color: white;
	font-size: 16px;

}



nav{
	display: flex;
	justify-content: center;
	align-items: center;
}


main{
	height: 90vh;
	text-align: center;
	padding-top: 30px;
}

.img{
	width: 114px;
}
.caixa{
	height: 320px;
	width: 340px;
	background-color: hsl(183, 100%, 15%);
	margin: 20px auto;
	border-radius: 30px;
	padding: 30px;
	}
	
	ul{
		color: white;
		list-style: none;
	}

.li1{
	margin-top: 10px;
	color: white;
	list-style: none;
}


.li2{
	margin-top: 10px;
	color: black;
}


info{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 50px;
	color: white;
	list-style: none;
}

.enviar{
	color:  hsl(183, 100%, 15%);
}